ChatterBot==0.8.7
chatterbot-corpus==1.1.2
cloudconvert==1.0.0
cloudinary==1.12.0
fbmessenger==4.3.1
Flask==1.0
google-api-core==1.2.0
google-auth==1.5.0
google-cloud-speech==0.34.0
google-cloud-texttospeech==0.1.0
googleapis-common-protos==1.5.3
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
websocket-client==0.47.0
Werkzeug==0.14.1